body.crgrzx{
	background:#fff;
	overflow:auto;
}
div.head{
	width:100%;
	height:2.1rem;
	margin:0 auto;
	background-image:url(../img/cr-bg1.png);
	position:relative;
}
.head .line{
	width:7.02rem;
	height:0.1rem;
	margin:0 auto;
	background-image:url(../img/cr-top1.png);
	background-position:center;
	background-size:100%;
	background-repeat:no-repeat;
}
.head .top{
	width:7.02rem;
	height:0.88rem;
	margin:0 auto;
}
.head .top a{
	float:left;
}
.head .top a img{
	display:block;
	height:0.88rem;

}
.head .top a:nth-child(2){
	margin-left:1.80rem;
}
.head .top a:nth-child(3){
	float:right;
}
.head > .circle{
	width:1.56rem;
	height:1.56rem;
	border-radius:50%;
	background-image:url(../img/cr-grzxtx1.png);
	background-position:center;
	background-size:100%;
	background-repeat:no-repeat;
	position:absolute;
	top:1.23rem;
	left:50%;
	margin-left:-0.78rem;
	overflow:hidden;
}
.head > .circle >.pic{
	width:1.15rem;
	height:1.15rem;
	background-image:url(../img/cr-tpic.jpg);
	background-size:100%;
	background-position:center;
	border-radius:50%;
	margin:0.2rem auto;
}




div.font{
	width:7.02rem;
	height:2.5rem;
	margin:0 auto;
	padding-top:0.78rem;
	box-sizing:border-box;
	position:relative;
}
div.font p{
	width:100%;
	height:0.3rem;
	line-height:0.3rem;
	text-align:center;
	font-size:0.26rem;
	color:#818181;
}
div.font div.font1{
	margin-top:0.10rem;
	height:0.24rem;
	margin:0 auto;
	text-align:center;
}
div.font div.font1 span{
	font-size:0.12rem;
	color:#b1b1b1;
	line-height:0;
	font-weight:normal;
}
div.font .font1 img{
	height:0.24rem;
}
div.font div.star{
	margin-top:0.15rem;
	width:100%;
	height:0.24rem;
	text-align:center;
}
div.font div.star img{
	height:100%;
}


div.four{
	width:7.02rem;
	height:2.5rem;
	background:#33ECA9;
	margin:0 auto;
	position:relative;
}
div.four > img{
	position:absolute;
	right:0.2rem;
	top:-0.3rem;
	height:0.6rem;
}
div.four div.gray{
	width:100%;
	height:2.36rem;
	box-sizing:border-box;
	background:#f5f5f5;

}
div.four div.gray >div{
	width:50%;
	height:50%;
	float:left;
}
div.four div.gray >div > img{
	width:0.6rem;
	float:left;
	margin-top:0.3rem;
	margin-left:0.15rem;
}
div.four div.gray >div > p{
	float:left;
	height:30%;
	width:50%;
	margin-left:0.10rem;
}
div.four div.gray >div > p:nth-of-type(1){
	font-size:0.22rem;
	margin-top:0.25rem;z-index;
	color:#3292CF;
}
div.four div.gray >div > div{
	width:1.60rem;
	height:0;
	float:left;
	border-bottom:0.01rem solid #c4c4c4;
	margin-left:0.10rem;
}
div.four div.gray >div > p:nth-of-type(2){
	font-size:12px;
	color:#BEBEBE;
	margin-top:0.02rem;
}
div.four div.gray >p.bcircle{
	width:0.3rem;
	height:0.3rem;
	border-radius:50%;
	background:red;
	position:absolute;
	left:50%;
	margin-left:-0.15rem;
	bottom:0;
	background:#33ECA9;
}


div.suggest{
	width:7.02rem;
	height:0.6rem;
	margin:0.5rem auto 0.2rem;
}
div.suggest >img{
	height:100%;
}


div.list{
	width:7.02rem;
	height:1.3rem;
	margin:0 auto 0.15rem;
	border-radius:0.10rem;
	box-shadow:0 0 0.05rem 0.01rem #E3E3E3;
}
div.list >div.toux{
	float:left;
	width:1rem;
	height:1rem;
	border-radius:50%;
	margin-top:0.15rem;
	margin-left:0.15rem;
	background-image:url(../img/cr-grzxtx2.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	position:relative;
}
div.list >div.toux >div.cir{
	width:0.80rem;
	height:0.80rem;
	border-radius:50%;
	background-image:url(../img/cr-tpic2.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	top:0.1rem;
	left:0.1rem;
}
div.two >div.toux >div.cir{
	background-image:url(../img/cr-tpic3.jpg);
	background-size:150%;
}
div.list >div.line1{
	float:left;
	width:0;
	height:0.7rem;
	margin-top:0.25rem;
	margin-left:0.05rem;
	border-right:0.01rem solid #e2e2e2;

}
div.list p:nth-of-type(1){
	float:left;
	width:50%;
	margin-top:0.15rem;
	font-size:0.2rem;
	margin-left:0.10rem;
	margin-right:0.03rem;
	color:#717171;
}
div.list p:nth-of-type(1) > img{
	height:0.16rem;	
}
div.list p:nth-of-type(1) > img:last-child{
	height:0.2rem;
	margin-left:0.1rem;
}
div.list >div.line2{
	width:2.40rem;
	height:0.2rem;
	float:left;
	margin-left:0.10rem;
	margin-top:0.02rem;
	background-image:url(../img/cr-nameline.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
div.list p:nth-of-type(2){
	float:left;
	width:50%;
	font-size:0.2rem;
	margin-left:0.10rem;
	margin-right:0.03rem;
	color:#979797;
}
div.list p:nth-of-type(3){
	float:left;
	width:60%;
	font-size:0.12rem;
	margin-left:0.10rem;
	margin-right:0.03rem;
	color:#CFCFCF;
}
div.list p:nth-of-type(3) >img{
	height:0.2rem;
}
div.list >img{
	float:right;
	height:0.5rem;
	margin-top:0.4rem;
	margin-right:0.15rem;
}


.don{
	width: 100%;
	height: .88rem;
	background: #323840;
	position:fixed;
	bottom:0 ;
	left: 0;
}
.don ul{
	width: 100%;
	height: .88rem;
	float: left;
	display: block;
}
.don ul li {
	display: block;
	width: 18%;
	text-align: center;
	float: left;
	margin: 0 1%;
	height: 100%;
}
.don ul li img{
	width: .88rem;
	height: .9rem;
	margin-bottom: .07rem;
}