@charset "UTF-8";
body.crhyq {
  background: #f4f4f4;
  overflow: auto;
}

div.head {
  width: 100%;
  height: 2.1rem;
  margin: 0 auto;
  background-image: url(../img/cr-bg1.png);
  position: relative;
}

.head .line {
  width: 7.02rem;
  height: 0.1rem;
  margin: 0 auto;
  background-image: url(../img/cr-top1.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.head .top {
  width: 7.02rem;
  height: 0.88rem;
  margin: 0 auto;
}

.head .top a {
  float: left;
}

.head .top a img {
  display: block;
  height: 0.88rem;
}

.head .top a:nth-child(2) {
  margin-left: 1.60rem;
}

.head .top a:nth-child(3) {
  float: right;
}

.head > div.all {
  width: 3.12rem;
  height: 0.8rem;
  margin: 0 auto;
  padding-top: 0.2rem;
  box-sizing: border-box;
  position: relative;
}

.head > div.all > img {
  height: 0.6rem;
  text-align: center;
}

.head > div.all > div.three {
  position: absolute;
  top: 0.28rem;
  left: 0.08rem;
  width: 1rem;
  height: 0.4rem;
  border-radius: 0.2rem;
}

.head > div.all > div.active {
  background: #3292CF;
}

.head > div.all > div.three:nth-of-type(2) {
  left: 1.06rem;
}

.head > div.all > div.three:nth-of-type(3) {
  left: 2.04rem;
}

.head > div.all > div.three > p {
  height: 100%;
  text-align: center;
  line-height: 0.4rem;
  color: #eaeaea;
  font-size: 0.16rem;
}

div.detail {
  width: 7.02rem;
  height: auto;
  margin: 0 auto;
}

div.detail > p:first-child {
  font-size: 0.22rem;
  margin-top: 0.2rem;
  color: #919191;
}

div.detail > p:nth-child(2) {
  font-size: 0.12rem;
  color: #919191;
  margin-bottom: 0.2rem;
}

div.detail > div.list1 {
  width: 7.02rem;
  height: 1.2rem;
  margin: 0.1rem auto;
  background: #fff;
  border-radius: 0.1rem;
}

div.detail > div.list1 img {
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.3rem;
  width: 0.6rem;
}

div.detail > div.list1 div.line {
  float: left;
  margin-left: 0.1rem;
  margin-top: 0.3rem;
  width: 0;
  height: 0.5rem;
  border-right: 0.01rem solid #9e9e9e;
}

div.detail > div.list1 p:nth-of-type(1) {
  float: left;
  margin-left: 0.2rem;
  width: 50%;
  margin-top: 0.2rem;
  font-size: 0.24rem;
  color: #666;
}

div.detail > div.list1 p:nth-of-type(2) {
  float: left;
  margin-left: 0.2rem;
  width: 50%;
  margin-top: 0.1rem;
  font-size: 0.2rem;
  color: #979797;
}

div.detail > div.list1 div.ls {
  width: 0.8rem;
  height: 0.4rem;
  border: 0.02rem solid #32EDA9;
  border-radius: 0.8rem;
  float: right;
  margin-right: 0.3rem;
  color: #32EDA9;
  text-align: center;
  line-height: 0.4rem;
}

div.detail > div.list1 div.arrow {
  width: 0.8rem;
  height: 0.4rem;
  float: right;
  margin-right: 0.3rem;
  color: #333;
  font-family: '宋体';
  font-weight: bold;
  text-align: center;
  font-size: 0.2rem;
  line-height: 0.4rem;
}

div.detail > div.num {
  width: 7.02rem;
  height: 0.7rem;
  margin: 0.2rem auto 0.1rem;
  line-height: 0.7rem;
}

div.detail > div.num > p:first-child {
  float: left;
  height: 100%;
  font-size: 0.22rem;
  color: #919191;
}

div.detail > div.num > p:last-child {
  float: right;
  height: 100%;
  font-size: 0.28rem;
  color: #32eda9;
  margin-right: 0.1rem;
}

div.detail > div.input {
  width: 7.02rem;
  height: 1.2rem;
  margin: 0.1rem auto;
  background: #fff;
  border-radius: 0.1rem;
  height: 0.9rem;
  position: relative;
  box-shadow: 0 0 0.05rem 0.01rem #E3E3E3;
}

div.detail > div.input > div.hyss1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 100%;
}

div.detail > div.input > div.hyss1 > div.mline {
  float: right;
  width: 0;
  height: 0.5rem;
  border-right: 0.01rem solid #32EDA9;
  box-shadow: 0 0 0.05rem 0.01rem #E3E3E3;
  margin-top: 0.2rem;
  margin-left: 0.05rem;
}

div.detail > div.input > div.hyss1 > img:nth-of-type(1) {
  width: 0.5rem;
  float: right;
  margin-top: 0.2rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

div.detail > div.input > div.hyss1 > img:nth-of-type(2) {
  float: right;
  margin-top: 0.2rem;
  height: 0.4rem;
}

div.detail > div.input > input.sshy {
  width: 100%;
  height: 0.9rem;
  border-radius: 0.1rem;
  color: #a5a5a5;
  text-indent: 0.3rem;
  font-size: 0.22rem;
}

div.detail > div.input > div.circ {
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 0.05rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #32eda9;
  margin-left: 0.15rem;
  margin-top: 0.43rem;
}

div.allf {
  width: 7.02rem;
  height: 0.9rem;
  margin: 0.2rem auto;
}

div.allf > p {
  font-size: 0.24rem;
  color: #919191;
  margin-bottom: 0.05rem;
}

div.allf > p:nth-child(2) {
  font-size: 0.12rem;
}

div.allf div.bline {
  width: 0.48rem;
  height: 0.04rem;
  border-radius: 0.02rem;
  background: #3292cf;
  float: left;
}

div.allf div.gline {
  float: left;
  width: 0.04rem;
  height: 0.04rem;
  border-radius: 50%;
  background: #32eda9;
  margin-left: 0.1rem;
}

div.list {
  width: 7.02rem;
  height: 1.3rem;
  margin: 0 auto 0.15rem;
  border-radius: 0.10rem;
  box-shadow: 0 0 0.05rem 0.01rem #E3E3E3;
}

div.list > div.toux {
  float: left;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-top: 0.15rem;
  margin-left: 0.15rem;
  background-image: url(../img/cr-grzxtx2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

div.list > div.toux > div.cir {
  width: 0.80rem;
  height: 0.80rem;
  border-radius: 50%;
  background-image: url(../img/cr-tpic2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}
div.list >div.toux >div.cir >a{
   float:left;
   width:100%;
   height:100%; 
}

div.two > div.toux > div.cir {
  background-image: url(../img/cr-tpic3.jpg);
  background-size: 150%;
}

div.list > div.line1 {
  float: left;
  width: 0;
  height: 0.7rem;
  margin-top: 0.25rem;
  margin-left: 0.05rem;
  border-right: 0.01rem solid #e2e2e2;
}

div.list p:nth-of-type(1) {
  float: left;
  width: 50%;
  margin-top: 0.15rem;
  font-size: 0.2rem;
  margin-left: 0.10rem;
  margin-right: 0.03rem;
  color: #717171;
}

div.list p:nth-of-type(1) > img {
  height: 0.16rem;
}

div.list p:nth-of-type(1) > img:last-child {
  height: 0.2rem;
  margin-left: 0.1rem;
}

div.list > div.line2 {
  width: 2.40rem;
  height: 0.2rem;
  float: left;
  margin-left: 0.10rem;
  margin-top: 0.02rem;
  background-image: url(../img/cr-nameline.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

div.list p:nth-of-type(2) {
  float: left;
  width: 50%;
  font-size: 0.2rem;
  margin-left: 0.10rem;
  margin-right: 0.03rem;
  color: #979797;
}

div.list p:nth-of-type(3) {
  float: left;
  width: 60%;
  font-size: 0.12rem;
  margin-left: 0.10rem;
  margin-right: 0.03rem;
  color: #CFCFCF;
}

div.list p:nth-of-type(3) > img {
  height: 0.2rem;
}

div.list > img {
  float: right;
  height: 0.5rem;
  margin-top: 0.4rem;
  margin-right: 0.15rem;
}

.don {
  width: 100%;
  height: .88rem;
  background: #323840;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.don ul {
  width: 100%;
  height: .88rem;
  float: left;
  display: block;
}

.don ul li {
  display: block;
  width: 18%;
  text-align: center;
  float: left;
  margin: 0 1%;
  height: 100%;
}

.don ul li img {
  width: .88rem;
  height: .9rem;
  margin-bottom: .07rem;
}

.don ul li a {
  display: block;
  margin: 0 auto;
  width: .88rem;
  height: 100%;
}

.don ul li:nth-child(3) a {
  background: #505A67;
}
