body.yhq {
  background: #fff;
  overflow: auto;
}

div.head {
  width: 100%;
  height: 2.1rem;
  margin: 0 auto;
  background-image: url(../img/cr-bg1.png);
  position: relative;
}

.head .line {
  width: 7.02rem;
  height: 0.1rem;
  margin: 0 auto;
  background-image: url(../img/cr-top1.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.head .top {
  width: 7.02rem;
  height: 0.88rem;
  margin: 0 auto;
}

.head .top a {
  float: left;
}

.head .top a img {
  display: block;
  height: 0.88rem;
}

.head .top a:nth-child(2) img {
  width: 1.88rem;
  height: auto;
  margin-left: 0.35rem;
  margin-top: 0.05rem;
}

.head .top a:nth-child(2) {
  margin-left: 1.60rem;
}

.head .top a:nth-child(3) {
  float: right;
  margin-right:-0.22rem;
}

.head .top a:first-child img {
  width: 0.66rem;
  height: auto;
  margin-top: 0.2rem;
}

.head > div.all {
  width: 3.12rem;
  height: 0.8rem;
  margin: 0 auto;
  padding-top: 0.2rem;
  box-sizing: border-box;
  position: relative;
}

.head > div.all > img {
  height: 0.6rem;
  text-align: center;
}

.head > div.all > div.three {
  position: absolute;
  top: 0.275rem;
  left: 0.08rem;
  width: 1rem;
  height: 0.4rem;
  border-radius: 0.2rem;
}

.head > div.all > div.active {
  background: #3292CF;
}

.head > div.all > div.three:nth-of-type(2) {
  left: 1.06rem;
}

.head > div.all > div.three:nth-of-type(3) {
  left: 2.04rem;
}

.head > div.all > div.three > p {
  height: 100%;
  text-align: center;
  line-height: 0.4rem;
  color: #eaeaea;
  font-size: 0.12rem;
}

div.nouse {
  width: 7.02rem;
  height: 0.76rem;
  margin: 0.2rem auto;
  border-bottom: 0.01rem solid #32EDA9;
}

div.nouse img {
  height: 100%;
}

div.list {
  width: 7.02rem;
  height: 2.64rem;
  margin: 0 auto 0.2rem;
  background: #F8F8F8;
}

div.list > img {
  height: 100%;
  float: left;
}

.list > div.gbg {
  width: 4.5rem;
  height: 1.78rem;
  float: left;
  margin-left: 0.25rem;
  margin-top: 0.23rem;
}

.list > div.gbg > img {
  height: 100%;
}

.list > div.font2 {
  width: 4.5rem;
  height: 0.24rem;
  float: left;
  margin-left: 0.25rem;
  margin-top: 0.1rem;
}

.list > div.font2 > div.yuan {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  background: #1FCE7E;
  float: left;
  margin-right: 0.1rem;
}

.list > div.font2 > p:nth-of-type(1) {
  float: left;
  color: #1FCE7E;
  font-size: 0.22rem;
  line-height: 0.24rem;
}

.list > div.font2 > p:nth-of-type(2) {
  float: right;
  color: #1FCE7E;
  font-size: 0.22rem;
  line-height: 0.24rem;
}

div.nouse1 {
  width: 7.02rem;
  height: 0.60rem;
  margin: 0.2rem auto;
}

div.nouse1 img {
  height: 100%;
}
