@import url("common.css");
body{
	overflow: auto;
	background: white;
}
/*开头固定定位*/
.header{
	width: 100%;
	height:auto;
	float: left;
	position: fixed;
	background-image: url(../img/n-bg.png);
	z-index: 1000;
}
.header .leimu1{
	width: 100%;
	height: auto;
	float: left;
	text-align: justify;
}
.header .leimu1:after{
	content: "";
    width: 100%;
    display: inline-block;
}
.header .leimu1 div:first-child{
	width: .6rem;
	height: .6rem;
	float: left;
	margin-left: .4rem;
	margin-top: .58rem;
	display: inline-block;
	background-image: url(../img/gx-search_102.png);
	background-position: -13px -11px;
	background-size: 51px;
	background-repeat: no-repeat;
}

.header .leimu1 div:nth-child(2){
	width: 1.06rem;
	height: .9rem;
	float: left;
	margin-left: 2rem;
	margin-top: .45rem;
	display: inline-block;
	position: relative;
	/*background-image: url(../img/n-title.png);
	background-position: -4px 0px;
	background-size: 66px;
	background-repeat: no-repeat;*/
}

.header .leimu1 div:nth-child(2) P:first-child{
	font-size:20px;
	/*font-family: "苹方";*/
	color: white;
	display: block;
	width: 2rem;
	height: .4rem;
	position: absolute;
	left: -12px;
	bottom: 37px;
}
.header .leimu1 div:nth-child(2) P:first-child span{
	font-size: 30px;
	font-family: "苹方";
}
.header .leimu1 div:nth-child(2) P:last-child{
	font-size:12px;
	/*text-align: center;*/
	font-family: "San Francisco Display Bold";
	color: white;
	/*margin-top: 3px;*/
	display: block;
	width: 3rem;
	height: .4rem;
	position: absolute;
	left: -39px;
	bottom: 0px;
}
.header .leimu1 div:last-child{
	width: 1.4rem;
	height: .8rem;
	float: right;
	margin-right: .4rem;
	margin-top: .55rem;
	display: inline-block;
	background-image: url(../img/n-search.png);
	background-position: -3px -12px;
	background-size: 77px;
	background-repeat: no-repeat;
}
.header .leimu2{
	width: 100%;
	height: auto;
	float: left;
}
.header .leimu2 .kuang{
	width: 3.84rem;
	height: 1rem;
	margin: 0 auto;
	margin-bottom: .3rem;
	background-image: url(../img/cr-hyqq.png);
	background-position: -1px 1px;
	background-size: 194px;
	position: relative;
	background-repeat: no-repeat;
}
.header > .leimu2 div.three {
  position: absolute;
  top: 0.16rem;
  left: 0.08rem;
  width: 1.4rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  color: #eaeaea;
}

.header > .leimu2 div.active {
  background: #3292CF;
}

.header > .leimu2 div.three:nth-of-type(2) {
  left: 1.4rem;
  top: 0.2rem;
  color: #999595;
}

.header > .leimu2 div.three:nth-of-type(3) {
  left: 2.4rem;
  top: 0.2rem;
  color: #999595;
}

.header > .leimu2 div.three > p {
  height: 100%;
  text-align: center;
  line-height: 0.4rem;
  /*color: #eaeaea;*/
  font-size: 0.2rem;
  font-family: "苹方";
}

/*内容*/
.che-neirong{
	width: 100%;
	height: auto;
	float: left;
	position: absolute;
	top: 3rem;
	background: #F1EFEF;
}
.che-neirong .floor{
	width: 95%;
	height:1.8rem;
	margin: 0 10px;
	float: left;
	background: white;
}
.che-neirong .floor img{
	width: 1.1rem;
	height:auto;
	margin-top: .3rem;
	margin-left: .4rem;
	float: left;
}
.che-neirong .floor span{
	/*margin-left: 20px;*/
	float: left;
	font-size: 16px;
	margin-top: 15px;
	font-family:  "San Francisco Display Bold";
}
.che-neirong .floor .cu{
	font-weight: bold;
	margin-left: 10px;
}
.che-neirong .floor .xing1{
	width: 1.2rem;
	height: .23rem;
	background-image: url(../img/gx-xing.png);
	background-size: 12px;
	position: absolute;
	left: 1.9rem;
	top: .75rem;
}
.che-neirong .floor .xing2{
	width: 1.2rem;
	height: .23rem;
	background-image: url(../img/gx-xing.png);
	background-size: 12px;
	position: absolute;
	left: 1.9rem;
	top: 2.6rem;
}
.che-neirong .floor .xing3{
	width: 1.2rem;
	height: .23rem;
	background-image: url(../img/gx-xing.png);
	background-size: 12px;
	position: absolute;
	left: 1.9rem;
	top: 4.4rem;
}
.che-neirong .floor .biaoqian{
	width: 4rem;
	height: .5rem;
	/*background: red;*/
	margin-top: 60px;
	margin-left: -133px;
	float: left;
}
.che-neirong .floor .biaoqian div{
	width: 1.1rem;
	height: 100%;
	background-image: url(../img/gx-yuan.png);
	float: left;
	background-repeat: no-repeat;
	background-size:52px;
	text-align: center;
	margin-right: .1rem;
}
.che-neirong .floor .flag1{
	width: 1.4rem;
	height: .5rem;
	background-image: url(../img/gx-flag.png);
	background-repeat: no-repeat;
	background-size:20px;
	position: absolute;
	right: 29px;
	top: 60px;
}
.che-neirong .floor .flag2{
	width: 1.4rem;
	height: .5rem;
	background-image: url(../img/gx-flag.png);
	background-repeat: no-repeat;
	background-size:20px;
	position: absolute;
	right: 29px;
	top: 150px;
}
.che-neirong .floor .flag3{
	width: 1.4rem;
	height: .5rem;
	background-image: url(../img/gx-flag.png);
	background-repeat: no-repeat;
	background-size:20px;
	position: absolute;
	right: 29px;
	top: 240px;
}
.che-neirong .floor .flag .Nub{
	width: 1rem;
	height: .4rem;
	border-radius: 10px;
	background: #F9F9F9;
	margin-left: 30px;
	font-size: 12px;
	font-family: "苹方";
	text-align: center;
	line-height: .4rem;
	color: #B7BBC1;
	font-weight: bold;
}
.che-neirong .floor .cost{
	width: 2rem;
	height: 1rem;
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: bold;
}
.che-neirong .floor  .two{
	width: 2rem;
	height: 1rem;
	position: absolute;
	right: 10px;
	top: 104px;
	font-weight: bold;
}
.che-neirong .floor  .three{
	width: 2rem;
	height: 1rem;
	position: absolute;
	right: 10px;
	top: 195px;
	font-weight: bold;
}
.che-neirong .floor .cost p{
	position: absolute;
	right: 10px;
	color: red;
}
.che-neirong .floor .cost p:first-child{
	font-size: 24px;
}
.che-neirong .floor .cost p:last-child{
	top: 25px;
	font-size: 14px;
}
.che-neirong .ge1{
	width: 95%;
	position: absolute;
	left: 10px;
	top: 1.8rem;
}
.che-neirong .ge2{
	width: 95%;
	position: absolute;
	left: 10px;
	top:3.6rem;
}
.che-neirong .ge3{
	width: 95%;
	position: absolute;
	left: 10px;
	top: 5.4rem;
}

/*信息*/
.che-news{
	width: 96%;
	height: auto;
	position: absolute;
	top: 9rem;
	font-family: "苹方";
	text-align: right;
	color: #99A0A9;
	margin: 0px auto;
	position: relative;
	margin-bottom: 2rem;
}
.che-news .bianhao{
	font-size:18px ;
	margin-bottom: 10px;
}
.che-news .zhifu{
	width: 100%;
	height: .6rem;
	margin-bottom: 10px;
}
.che-news .zhifu img{
	position: absolute;
	top: 35px;
	right: 170px;
}
.che-news .zhifu span{
	line-height: .6rem;
	font-size: 26px;
	padding-left: 5px;
}
.che-news .jine .r{
	font-size: 18px;
	padding-bottom: 10px;
	position: absolute;
	top: 81px;
	right: 95px;
}	
.che-news .jine .j{
	font-size: 30px;
}
.che-news .youhui p{
	font-size: 20px;
	margin-bottom: 10px;
}
.che-news .youhui span:first-child{
	color: #32E9AB;
	font-size:20px ;
}
.che-news .youhui span:last-child{
	font-size:20px ;
	font-family:  "San Francisco Display Bold";
}
.che-news .youhui img{
	position: absolute;
	top:120px;
	right: 190px;
}
.che-news .add{
		margin-bottom: 10px;
}
.che-news .add img{
	position: absolute;
	top:145px;
	left: 80px;
	width: 16px;
	height: auto;	
}
.che-news .add span{
	font-size: 12px;
}
.che-news .shou img{
	position: absolute;
	right: 80px;
	top: 171px;
	width: 15px;
	height: 15px;
}
.che-pay{
	display: block;
	width: 60%;
	height: auto;
	position: absolute;
	top: 14rem;
	margin-bottom: 2rem;
	background: red;
	margin-left: 20%;
}

.che-ping{
	display: none;
}
.che-ping-first{
	display: block;
}

/*底部固定定位*/
.don{
	width: 100%;
	height: .88rem;
	background: #323840;
	position: fixed;
	bottom:0 ;
	left: 0;
}
.don ul{
	width: 100%;
	height: .88rem;
	float: left;
	display: block;
}
.don ul li {
	display: block;
	width: 18%;
	text-align: center;
	float: left;
	margin: 0 1%;
	height: 100%;
}
.don ul li img{
	width: .88rem;
	height: .9rem;
	margin-bottom: .07rem;
}
