@import url("common.css");
/*开头固定定位*/
body{
	overflow: auto;
	background: white;
}
.searchRl-header{
	width: 100%;
	height:3.4rem;
	float: left;
	position: fixed;
	background: #282828;
	z-index: 100;
}
.searchRl-header .leimu1{
	width: 100%;
	height: 1.76rem;
	float: left;
	text-align: justify;
	background-image: url(../img/n-bg.png);
}
.searchRl-header .leimu1:after{
	content: "";
    width: 100%;
    display: inline-block;
}
.searchRl-header .leimu1 div:first-child{
	width: .8rem;
	height: .8rem;
	float: left;
	margin-left: .2rem;
	margin-top: .25rem;
	display: inline-block;
	background-image: url(../img/gx-search_102.png);
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}
.searchRl-header .leimu1 div:first-child a{
	width: 100%;
	height: 100%;
	display: block;
}
.searchRl-header .leimu1 div:nth-child(2){
	width: 1.92rem;
	height: .88rem;
	float: left;
	margin-left: 1.7rem;
	margin-top: .25rem;
	display: inline-block;
	position: relative;
	background-image: url(../img/gx-chaoliuguan.png);
	background-repeat: no-repeat;
	background-size:100%;
	background-position:center;
}
.searchRl-header .leimu1 div:last-child{
	width: 1.2rem;
	height: .88rem;
	float: right;
	
	margin-top: .25rem;
	display: inline-block;
	background-image: url(../img/n-search.png);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*搜索框*/
.searchRl-sousuo{
	height: 1rem;
	float: left;
	position: fixed;
	left: 75px;
	top: 47px;	
	z-index: 100;
}
.searchRl-sousuo input{
	width: 4.5rem;
	height: .85rem;
	display: block;
	margin-top: .4rem;
	margin-left:-.3rem;
	border:0px ;
	border-radius: 5px;	
	font-size: 12px;
	color:#D4D4D4;
	padding-left: 25px;
	float: left;
	background: #F6F6F6;
}
.searchRl-sousuo .dian1{
	width: .1rem;
	height: .1rem;
	background: #3477FF;
	border-radius: 50%;
	position: absolute;
	left: -5px;
	top: 39px;
}
.searchRl-sousuo .xiangji{
	position: absolute;
	right:50px;
	top:26px;
	background-image: url(../img/gx-search_03.png);
	background-size: 48px;
	background-repeat: no-repeat;
	width: .89rem;
	height: .6rem;
}
.searchRl-sousuo .dian2{
	width: .1rem;
	height: .1rem;
	background: #FC2049;
	border-radius: 50%;
	position: absolute;
	right: 53px;
	top: 29px;
	z-index: 100;
}
.searchRl-sousuo .xuanze{
	position: absolute;
	right:5px;
	top:25px;
	background-image: url(../img/gx-search_05.png);
	/*background-position: 10px 10px;*/
	background-size: 35px;
	background-repeat: no-repeat;
	width: .7rem;
	height: .62rem;
	/*background: red;*/
}
.searchRl-list{
	width:100%;
	height:1.7rem;
	position: fixed;
	top: 2.4rem;
	float: left;
	z-index: 100;
}
.searchRl-list ul{
	width: 80%;
	height: .75rem;
	float: left;
	margin: 0 40px;
}
.searchRl-list ul li{
	width: 25%;
	height: 100%;
	float: left;
	background-image: url(../img/gx-search_12.png);
	background-position: 6px 6px;
	background-repeat: no-repeat;
	background-size: 1.2rem;
}
.searchRl-list ul li p{
	color: white;
	font-size: 16px;
	margin-top: 9px;
	margin-left: 19px;
}
 /*结果*/
.searchRl-result{
	width: 100%;
	height: 3.63rem;
	position: absolute;
	top: 3.5rem;
}
.searchRl-result .word{
	width: 90%;
	height: 30px;
	line-height: 30px;
	position: relative;
	float: left;
	border-bottom: 1px solid #A0A0A0;
	margin-left: 14px;
}
.searchRl-result .word .dian3{
	width: .1rem;
	height: .1rem;
	background: #3477FF;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 12px;
}
.searchRl-result .word p{
	font-size: 14px;
	position: absolute;
	left: 25px;
	top:0px;
	color: #A0A0A0;
	font-family: "苹方";
}
.searchRl-result .word p span{
	color:#FF9A91;
	font-size: 14px;
}
.searchRl-result .jieguo{
	width: 100%;
	position: absolute;
	top: .5rem;
	background-image:url(../img/gx-searchRl01.png) ;
	background-repeat: no-repeat;
	background-position: 10px 20px;
	background-size: 2.2rem;
	height: 3.42rem;
}
.searchRl-result .jieguo>.box{
	width: 2.32rem;
	height: 1.49rem;
	padding-top:1.8rem;
	float: left;
	margin-left: .2rem;
	margin-top:1.4rem;
}
.searchRl-result .jieguo>.box1{
	background: url('../img/n-diaodeng.png');
	background-size: 100%;
}
.searchRl-result .jieguo>.box2{
	background: url('../img/n-zy.png');
	background-size: 100%;
	margin-left: .09rem;
}
.searchRl-result .jieguo>.box3{
	background: url('../img/n-chaoxie.png');
	background-size: 100%;
	margin-left: .09rem;
}
.searchRl-result .jieguo>.box>.star{
	padding-left: .26rem;
}
.searchRl-result .jieguo>.box>h5{
	padding: .03rem 0 0 .6rem;
	font-size: .24rem;
	color: #444;
}
.searchRl-result .jieguo>.box>pre{
	padding: .1rem 0 0 0.24rem;
	font-size: .20rem;
	color: #444;
}
/*推荐*/
.searchRl-tuijian{
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 9rem;
	background-image:url(../img/gx-searchRl02.png) ;
	background-repeat: no-repeat;
	background-position: 10px 20px;
	background-size: 2.2rem;
}
.searchRl-tuijian div{
	margin-right: 10px;
}
.searchRl-tuijian span{
	display: block;
	float: right;
	font-size: 14px;
	font-family: "宋体";
	margin-top: 23px;
	margin-right: 5px;
}
.searchRl-tuijian p{
	display: block;
	float: right;
	font-size: 14px;
	font-family: "苹方";
	margin-top: 21px;
	margin-right: 5px;
}

/*查看*/
.searchRl-look{
	width: 100%;
	height:auto;
	position: absolute;
	top: 10.4rem;
	display: block;
	float: left;
/*	background: white;*/
	position: relative;
}
.searchRl-look li:first-child{
	background-image: url(../img/gx-search_19.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 3.7rem;
	width: 48%;
	height:2rem;
	display: block;
	float: left;
	/*margin-bottom: .5rem;*/
}
.searchRl-look li:last-child{
	background-image: url(../img/gx-search_20.png);
	background-repeat: no-repeat;
	background-position: 10px 14px;
	background-size: 3.5rem;
	width: 48%;
	height: 2rem;
	display: block;
	float: left;
}
.searchRl-look li span{
	width: 70px;
	height: 20px;
	position: absolute;
	top: 77px;
	background: #F8F7B4;
	border-radius:5px;
	text-align: center;
	line-height: 20px;
}
.searchRl-look li:first-child span{
	left: 34px;
}
.searchRl-look li:last-child span{
	right: 90px;
}

/*设计师*/
.searchRl-master{
	width: 100%;
	/*height: 6rem;*/
	position: absolute;
	top: 13rem;
	background-image:url(../img/gx-search_23.png) ;
	background-repeat: no-repeat;
	background-position: 10px 0px;
	background-size:2.4rem;
	display: block;
}
.searchRl-master li:first-child{
	background-image: url(../img/gx-search_29.png);
	background-repeat: no-repeat;
	background-position: 10px 46px;
	background-size: 7rem;
	width:100%;
	height:2.5rem;
	display: block;
	position: relative;
}
.searchRl-master li:last-child{
	background-image: url(../img/gx-search_29.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 7rem;
	width: 100%;
	height: 2.5rem;
	display: block;
	position: relative;
}
.searchRl-master .touxiang{
	background-image: url(../img/gx-search_26.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	width: 50%;
	height: .2rem;
}
.searchRl-master li .touxiang{
	width: .8rem;
	height: .8rem;
	position: absolute;
	left: 17px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid #AF9D4D;
	box-shadow:1px 1px 1px rgba(0,0,0,.2);
}
.searchRl-master li .m1{
	font-size: 12px;
	position: absolute;
	left: 19px;
	font-family:"San Francisco Display Bold" ;
}
.searchRl-master li:first-child .touxiang{
	top: 58px;
	background-image: url(../img/f859ded9b41f5c57.jpg);
	background-position: 0px 0px;
	background-size: 40px;
	overflow: hidden;
}
.searchRl-master li:first-child p{
	top: 102px;
}
.searchRl-master li:last-child .touxiang{
	top: 22px;
	background-image: url(../img/f859ded9b41f5c57.jpg);
	background-position: 0px 0px;
	background-size: 40px;
	overflow: hidden;
}
.searchRl-master li:last-child p{
	top: 66px;
	left: 21px;
}
.searchRl-master li .m2{
	font-size: 10px;
	font-weight: bold;
	font-family:"San Francisco Display Bold" ;
	position: absolute;
	top: 55px;
	left: 71px;
	color: #5C5C5C;
}
.searchRl-master li .m3{
	font-size: 10px;
	font-family:"San Francisco Display Bold" ;
	position: absolute;
	top: 55px;
	left: 123px;
	color: #5C5C5C;
}
.searchRl-master li .m4{
	font-size: 10px;
	font-family:"San Francisco Display Bold" ;
	position: absolute;
	top: 55px;
	left: 138px;
	color: #FE7A6D;
}
.searchRl-master li .huo1{
	display: block;
	width: 55px;
	height: 14px;
	position: absolute;
	right:122px;
	top: 58px;
	background-image: url(../img/gx-search_31.png);
	background-size: 14px;
}
.searchRl-master li .huo2{
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	right:108px;
	top: 58px;
	background-image: url(../img/gx-search_33.png);
	background-size: 14px;
}
.searchRl-master li .m5{
	font-size: 10px;
	font-family:"苹方" ;
	position: absolute;
	top: 74px;
	left: 71px;
	color: #6E6E6E;
}
.searchRl-master li .m6{
	font-size: 10px;
	font-family:"San Francisco Display Bold" ;
	position: absolute;
	top: 88px;
	left: 71px;
	color: #ACACAC;
}
.searchRl-master li .yuan1{
	width: 10px;
	height: 10px;
	background: #21FFB8;
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
	left: 72px;
}
.searchRl-master li .m7{
	font-size: 10px;
	font-family:"San Francisco Display Bold" ;
	position: absolute;
	bottom: 10px;
	left: 84px;
	color: #7CB7FA;
}
.searchRl-master li .m8{
	font-size: 10px;
	font-family:"苹方" ;
	position: absolute;
	bottom: 10px;
	left: 118px;
	color: #6E6E6E;
}
.searchRl-master li .yuan2{
	width: 10px;
	height: 10px;
	background: #2189FF;
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
	right:143px;
}
.searchRl-master li .m9{
	font-size: 10px;
	font-family:"San Francisco Display Bold" ;
	position: absolute;
	bottom: 8px;
	right: 100px;
	color: #7CB7FA;
}
.searchRl-master li .m10{
	font-size: 10px;
	font-family:"苹方" ;
	position: absolute;
	bottom: 8px;
	right:  47px;
	color: #6E6E6E;
}
.searchRl-master li .dong{
	position: absolute;
	left: 0px;
	top: -36px;
	width: 100%;
	height: 100%;
}
/*底部固定定位*/

.searchRl-don{
	width: 100%;
	height: .94rem;
	background: #323840;
	position: fixed;
	bottom: 0;
}
.searchRl-don >ul{
	width: 100%;
	height: .94rem;
	display: flex;
}
.searchRl-don> ul> li {
	display: block;
	text-align: center;
	height: 100%;
	width: 21%;
}
.searchRl-don >ul >li>a{
	display: block;
	width:.88rem;
	height: .94rem;
	margin: 0 auto
}
.searchRl-don >ul >li:nth-child(1)>a{
	background: url(../img/gx-fix_03.png);
	background-size: 100%;
}
.searchRl-don >ul >li:nth-child(2)>a{
	background: url(../img/gx-fix_78.png);
	background-size: 100%;
}
.searchRl-don >ul >li:nth-child(3)>a{
	background: url(../img/gx-fix_80.png);
	background-size: 100%;
}
.searchRl-don >ul >li:nth-child(4)>a{
	background: url(../img/home_09.png);
	background-size: 104%;
	background-position: 0px -3px;
}
.searchRl-don >ul >li:nth-child(5)>a{
	background: url(../img/gx-fix_85.png);
	background-size: 100%;
}