body{
	background: #FFFFFF;
}
header{
	width: 100%;
	height: 1.36rem;
	background-image: url(../img/xx-classa01.png);
	background-size: 100%;
}
header a{
	width:0.88rem;
	height:100%;
	display:block;
	padding-top:0.3rem;
	box-sizing:border-box;
}
header  img{
	width:0.88rem;
	display:block;
}
nav{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.type{
	width: 1.76rem;
	height: 1.2rem;
	float: left;
	padding-left: .5rem;
	padding-top: .14rem;
}
.type > span{
	font-size: .22rem;
	font-weight: bold;
	color: #a8a8a8;
	font-family: "San Francisco Displa";
	display: block;
	height: .22rem;
}
.type > p:first-of-type{
	font-size: .22rem;
	font-weight: bold;
	color: #767676;
	font-family: "San Francisco Displa";
}
.type > img{
	width: .65rem;
	display: block;
}
.type > p:last-of-type{
	font-size: .28rem;
	font-weight: bold;
	color: #626262;
	font-family: "San Francisco Displa";
	float: left;
}
.type > div{
	width: .06rem;
	height: .06rem;
	border-radius: 50%;
	margin-left: .08rem;
	margin-top: .19rem;
	background: #6bc8fa;
	float: left;
}
.type + img{
	width: .27rem;
	height: 1.12rem;
	float: left;
}
.line{
	width: 100%;
	height: .03rem;
	background: #bdbdbd;
}
section{
	width: 7.18rem;
	height: 1.44rem;
	margin-left: .24rem;	
	background-size: 100%;
}
section:first-of-type{
	background-image: url(../img/xx-class04.png);
}
section > a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section > a > p{
	margin: .34rem 0 0 .52rem;
	color: #FFFFFF;
	font-size: .32rem;
	font-family: "San Francisco Displa";
}
section > a > span{
	margin-left: .52rem;
	color: #FFFFFF;
	font-size: .26rem;
	font-family: "San Francisco Displa";
}
section:nth-of-type(2){
	background-image: url(../img/xx-class05.png);
}
section:nth-of-type(3){
	background-image: url(../img/xx-class06.png);
}
section:nth-of-type(4){
	background-image: url(../img/xx-class07.png);
}
section:nth-of-type(5){
	background-image: url(../img/xx-class08.png);
}
section:nth-of-type(6){
	background-image: url(../img/xx-class_09.png);
}
section:nth-of-type(7){
	background-image: url(../img/xx-class_10.png);
}
