*{
	font-family: "宋体";
}
header{
	/*background: #30373F;*/
	height: 2.52rem;
	width: 100%;
	background-image: url(../img/image/pay/xx-pay17.png);
}
header div img:nth-child(2){
	height: auto;
	width: 2.2rem;
	margin: 0 1.3rem;
}
header div img:nth-child(3){
	height: auto;
	width: 1.2rem;
}
header div img:nth-child(1){
	height: auto;
	width: 1.2rem;
	margin-left: .1rem;
}
header div:first-child{
	width: 100%;
	height: .4rem;
}
header div:nth-child(3){
	background-image: url(../img/image/pay/xx-pay04.png);
	background-size: 100%;
	width: 3.82rem;
	height: .72rem;
	line-height: .72rem;
	text-align: center;
	color: #FFFFFF;
	margin: .1rem auto;
}
article{
	width: 100%;
	height: 3.52rem;
	background: #FFFFFF;
	overflow: hidden;
}
section:first-of-type{
	width: 1.76rem;
	height: .5rem;
	background-image: url(../img/image/pay/xx-pay05.png);
	background-size: 100%;
	margin: .1rem auto;
}
section:nth-of-type(2){
	width: 100%;
	height: 1.9rem;
}
section:nth-of-type(2)> img{
	width: 3.32rem;
	height: 1.19rem;
	margin: .18rem;
}
section:nth-of-type(3){
	width: 1.76rem;
	height: .5rem;
	background-image: url(../img/image/pay/xx-pay06.png);
	background-size: 100%;
	margin: .3rem auto;
}
footer{
	width: 7.08rem;
	height: 6.95rem;
	background: #FFFFFF;
	margin: 0 auto;
}
footer > div:first-child > img{
	display: block;
	width: 1rem;
	height: 1rem;
	margin-left: .3rem;
	margin-top: .44rem;
	float: left;
}
footer > div:first-child > div:nth-child(2){
	float: left;
	margin-left: .2rem;
	margin-top: .48rem;
	height: .76rem;
}
footer > div:first-child p{
	font-size: .3rem;
	font-weight: bold;
}
footer > div:first-child p +img{
	width: .68rem;
	display: block;
	margin: .03rem 0 .04rem 0;
}
span{
	color: #CECECE;
}
.left div span:last-child{
	margin-left: .4rem;
	color: #55A2E3;
}
footer > div:first-child > div:last-child{
	width: .66rem;
	height: .66rem;
	float: right;
	margin-right: .4rem;
	margin-top: .5rem;
	text-align: center;
	line-height: .66rem;
	box-shadow: 0 0 .06rem 0 rgba(0,0,0,.2);
	border-radius: 50%;
	color: #0BBFFE;
	font-size: .32rem;
}
footer > img{
	width: 6.59rem;
	margin-left: .28rem;
}
footer > div:nth-of-type(2) > img{
	display: block;
	width: 1rem;
	height: 1rem;
	margin-left: .3rem;
	margin-top: .44rem;
	float: left;
}
.center{
	float: left;
	margin-left: .2rem;
}
.center > div{
    /*margin-left: .2rem;*/
    margin-top: .48rem;
    /*height: .76rem;*/
    font-size: .32rem;
    height: .38rem;
}
.center >div > img:first-of-type{
	width: .38rem;
	display: block;
	float: left;
}
.center >div > img:nth-of-type(2){
	width: .62rem;
	display: block;
	float: left;
	margin-top: .1rem;
}
.center > img{
	width: .68rem;
    display: block;
    margin: .03rem 0 .04rem 0;
}
.center > p{
	color: #CECECE;
}
.center > div span{
	color: #000000;
	font-size: .3rem;
	font-weight: bold;
	display: block;
	float: left;
}
footer > div:nth-of-type(3){
	width: 100%;
	height: 1.44rem;
}
footer > div:nth-of-type(3) > img{
	display: block;
	width: 1rem;
	height: 1rem;
	margin-left: .3rem;
	margin-top: .44rem;
	float: left;
}
.right{
	float: left;
	margin-left: .2rem;
}
.right > div{
    /*margin-left: .2rem;*/
    margin-top: .48rem;
    /*height: .76rem;*/
    font-size: .32rem;
    height: .38rem;
}
.right > img{
	width: .68rem;
    display: block;
    margin: .03rem 0 .04rem 0;
}
.right > p{
	color: #CECECE;
}
.right > div span{
	color: #000000;
	font-size: .3rem;
	font-weight: bold;
	display: block;
	float: left;
}
footer > div:nth-of-type(4){
	width: 3.84rem;
	height: .8rem;
	margin: .7rem auto 0 auto;
}
footer > div:nth-of-type(4) > img{
	width: 100%;
}
