//头部
a{
  display:block;
  overflow: hidden;
}
body{
  background-color:#fff;
  overflow: hidden;
}
header{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  .top{
    position: relative;
    .md{
      padding:{
        left:1.94rem;
      }
      img{
        width:1.92rem;
        height:0.88rem;
      }
    }
    .line{
      position: absolute;
      top:0.2rem;
      width:7.2rem;
      left:0.15rem;
      height:0.03rem;
    }
  }
}
header>.top>div>a:first-child{
  margin-left:0.068rem;

}
header>.bottom{
  background-image:url("../img/creat/md_52_03.png");
  height:0.72rem;
  margin:0 auto;
  margin-top:-0.1rem;
  .left{
    float: left;
    background-image:url("../img/creat/md_53_03.png");
    width:1.38rem;
    height:0.48rem;
    background-size:100%;
    margin-top:0.06rem;
    margin-left:0.01rem;
    line-height:0.48rem;
    span{
      font-size:0.24rem;
      font-weight:normal;
    }
    span:first-child{
      margin-left:-0.01rem;
    }
    span:last-child{
      margin-left:0.16rem;
    }
  }
  .right{
    height:0.6rem;
    float: right;
    line-height:0.6rem;
    margin-right:0.32rem;
    span{
      font-size:0.24rem;
      font-weight:normal;
      color:#808588;
    }
  }
}
//设计师选择
$mar:0 auto;
$colorh:#818181;
$colorp:#b1b1b1;
$margin:0.8rem;
.title{
  background-color: #fff;
}
.design{
  width:100%;
  margin-top:2.4rem;
  .title{
    width:100%;
    img{
      margin-left:0;
      width:1.84rem;
      height:0.84rem;
    }
  }
}
.design{
  .per{
    margin-top:0.1rem;
    width:100%;
    ul{
      width:100%;
      padding:0 0.24rem;
      height:3.2rem;
      box-sizing: border-box;
      background-image:url("../img/creat/md_49.png");
      background-size: 100%;
      background-repeat:no-repeat;
      background-position:0 1.6rem;
      li{
        float: left;
        width:33.333333%;
        height:3.2rem;
        .bg{
          background-image:url("../img/creat/cr-grzxtx1.png");
          background-size: cover;
          width:1.6rem;
          height:1.6rem;
          margin:$mar;
          overflow: hidden;
          .tx{
            width:1.1rem;
            height:1.1rem;
            border-radius:50%;
            background-color:#00c0a5;
            margin-left:0.32rem;
            margin-top:0.28rem;
          }
        }
      }
    }
  }
}
.design{
  .inf{
    text-align: center;
    h6{
      color:$colorh;
      font:{
        size:0.24rem;
        weight:400;
      }
    }
    p{
      margin-top:0.05rem;
      color:$colorp;
      font-size:0.2rem;
      text-transform: capitalize;
      margin-bottom:-0.1rem;
    }
    img{
      margin-top:-0.1rem;
      width:0.24rem;
      height:0.04rem;
    }
    .str{
      width:100%;
      margin-top:0.05rem;
      .sta{
        width:0.28rem;
        height:0.28rem;
        margin-left:-0.04rem;
        margin-right:-0.04rem;
      }
    }
  }
}
.design{
  .per{
    ul{
      .star{
        .bg{
          margin-top:-0.48rem;
          background-image:url("../img/creat/cr-grzxtx1.png");
          width:2.1rem;
          height:2.1rem;
          position: relative;
          .tx{
            width:1.48rem;
            height:1.48rem;
            margin-left:0.42rem;
            margin-top:0.36rem;
          }
          img{
            position: absolute;
            top:0.18rem;
            margin-left:0.36rem;
            width:0.6rem;
            z-index:20;
          }
        }
        .inf{
          h6{
            margin-top:-0.05rem;
            font:{
              size:0.26rem;
            }
          }
          .str{
            .sta{
              width:0.36rem;
              height:0.36rem;
            }
          }
        }
      }
    }
  }
}
.design .per ul li:first-child .bg .tx{
  background-image:url("../img/creat/tx.jpg");
  background-size:cover;
  background-position:-0.26rem 0;
}
.design .per ul li:nth-child(2) .bg .tx{
  background-image:url("../img/creat/tx2.jpg");
  background-size:cover;
}
.design .per ul li:last-child .bg .tx{
  background-image:url("../img/creat/tx3.jpg");
  background-size:cover;
}
.design .per ul li >a{
    float:left;
    width:100%;
    height:100%;
}


//项目选择
$colorh1:#818181;
$colorp1:#cacaca;
.select{
  width:100%;
  .title{
    width:100%;
    img{
      margin-left:0;
      width:7.5rem;
      height:0.84rem;
    }
  }
  .sel{
    width:100%;
    height:2.2rem;
    ul{
      margin-top:0.1rem;
      padding:0 0.2rem;
      box-sizing: border-box;
      width:100%;
      li{
        width:25%;
        float:left;
        text-align: center;
        img{
          width:1.14rem;
          height:1.14rem;
        }
        h6{
          color:$colorh1;
          font-size:0.26rem;
          font-weight:normal;
        }
        p{
          margin-top:0.05rem;
          color:$colorp1;
          font-size:0.24rem;
        }
      }
    }
  }
}
.select .sel ul li:last-child h6{
  color:rgba(129,129,129,0.5)
}
.select .sel ul li:last-child p{
  color:rgba(129,129,129,0.5)

}
//尺寸选择
.size {
  width: 100%;
  .title {
    width: 100%;
    img {
      margin-left: 0;
      width: 7.5rem;
      height: 0.84rem;
    }
  }
}
.size{
  .selc{
    width:100%;
    ul{
      padding:0 0.8rem;
      box-sizing: border-box;
      margin-top:0.64rem;
      width:100%;
    }
  }
}
.size .selc ul{
  li{
      float: left;
      width:25%;
    p{
      margin:0 auto;
      margin-top:-0.6rem;
      width:1.08rem;
      height:0.6rem;
      border-radius:0.4rem;
      background-color:#f8f8f8;
      border:2px solid rgba(134,134,134,0.3);
      text-align: center;
      line-height:0.6rem;
      color:#6c6c6c;
      font-size:0.26rem;
    }
  }
}
.size .selc ul .act p{
  background-color:#3e4651;
  color:#f8f8f8;
}
.size .selc img{
  width:7.5rem;
  height:1.02rem;
  margin-top:0.1rem;
}
.size .selc .add{
  width:100%;
  padding:0 0.8rem;
  box-sizing: border-box;
}
@mixin bord{
  width:0.46rem;
  height:0.46rem;
  border-radius:50%;
  border:2px solid #e5e5e5;
  text-align: center;
  line-height:0.44rem;
  font-size:0.3rem;
  margin-top:0.05rem;
  //font-weight:bold;
}
.size .selc .add{
  //overflow: hidden;
  .lef{
    float: left;
    width:25%;
    p{
      float: right;
      @include bord;
      color:#747474;
      background-color:#fff;
    }
    .select{
      color:#fff;
      background-color:#3e4651;
    }
  }
  .mid{
    float: left;
    width:50%;
    p{
      margin:$mar;
      margin-top:-0.1rem;
      width:1.9rem;
      height:0.92rem;
      background-image:url("../img/creat/md_27.png");
      background-size:100%;
      line-height:0.92rem;
      text-align: center;
      font-size:0.28rem;
      color:#6c6c6c;
      font-weight:bold;
      span{
        font-size:0.28rem;
        color:#6c6c6c;
      }
    }
  }
  .righ{
    float: left;
    width:25%;
    p{
      @include bord;
      color:#747474;
      background-color:#fff;
    }
    .select{
      color:#fff;
      background-color:#3e4651;
    }
  }
}
//设计原料
.origin{
  margin-top:1.4rem;
  width:100%;
  .bac{
    margin:0 auto;
    width:6.98rem;
    height:2.8rem;
    border-radius:4px;
    box-shadow:0 0.02rem 0.16rem rgba(0,0,0,0.2);
    .title{
      width:100%;
      height:1rem;
      text-align: center;
      line-height:0.2rem;
      h6{
        line-height:0.6rem;
        color:#6e6e6e;
        font-size:0.26rem;
      }
      p{
        font-size:0.2rem;
        color:#6e6e6e;
      }
    }
    ul{
      width:100%;
      display: flex;
      justify-content: space-around;
      li{
        width:33.3333%;
        text-align: center;
        img{
          width:1.36rem;
          height:1.36rem;
        }
      }
    }
    .bot{
      width:100%;
      height:0.06rem;
      margin-top:0.34rem;
      border-radius:0 0 4px 4px;
      background-color:#6ac2ff;
    }
  }
}
.ask{
  width:100%;
  text-align: center;
  margin-bottom:0.4rem;
  a{
    display: block;
    img{
      margin-top:$margin;
      width:3.36rem;
      height:1.48rem;
    }
  }
}
