body {
  background-color: #fff;
  overflow: auto; }

.header {
  width: 100%;
  height: 0.88rem;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../img/creat/cr1_03_01.png);
  display: flex;
  justify-content: space-between;
  z-index: 100000; }

.header .back {
  width: 0.88rem;
  height: 0.88rem; }

.header .back img {
  width: 0.88rem;
  height: 0.88rem; }

.header > .search {
  width: 1.2rem;
  height: 0.88rem; }

.header > .search img {
  width: 1.2rem;
  height: 0.88rem; }

.header .title img {
  width: 1.92rem;
  height: 0.88rem; }

.ban {
  margin-top: 0.88rem;
  width: 100%;
  height: 3.24rem; }
  .ban img {
    width: 100%;
    height: 3.24rem; }

.art {
  width: 100%;
  margin-top: 0.34rem; }

.art .title {
  width: 100%;
  height: 0.86rem; }
  .art .title img {
    width: 1.58rem;
    margin-left: 0.2rem; }

.art .pro {
  width: 6.76rem;
  height: 4.28rem;
  box-shadow: 0 0.02rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 0 auto;
  background-color: #fff; }
  .art .pro .top {
    width: 100%;
    height: 2.48rem;
    background-image: url("../img/creat/new__16.png");
    background-size: cover;
    background-position: 0 -0.3rem; }
    .art .pro .top .zz {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.16); }
      .art .pro .top .zz img {
        width: 0.72rem;
        height: 0.9rem;
        float: right;
        margin-top: -0.04rem;
        margin-right: -0.02rem; }

.art .active {
  margin-top: 0.32rem; }
  .art .active .top {
    background-image: url("../img/creat/new__25.png");
    background-position: 0 -1.4rem;
    background-size: cover; }

.art .bottom {
  width: 100%;
  height: 1.8rem; }
  .art .bottom .right {
    padding-left: 0.2rem;
    box-sizing: border-box;
    float: left;
    width: 82%;
    height: 100%; }
    .art .bottom .right h5 {
      margin-top: 0.06rem;
      width: 100%;
      height: 0.34rem; }
      .art .bottom .right h5 span {
        color: #4a4d55;
        font-size: 0.26rem;
        line-height: 0.48rem;
        margin-right: 0.4rem; }
      .art .bottom .right h5 img {
        width: 0.2rem;
        height: 0.2rem;
        margin-left: -0.05rem; }
    .art .bottom .right img {
      width: 2.18rem; }
    .art .bottom .right h6 {
      color: #60646e;
      font-size: 0.22rem;
      font-weight: normal;
      text-transform: uppercase; }
    .art .bottom .right p {
      width: 96%;
      margin-top: 0.1rem;
      color: #60646e;
      font-size: 0.22rem;
      line-height: 0.34rem; }
  .art .bottom .left {
    float: right;
    width: 18%;
    height: 100%;
    text-align: center; }
    .art .bottom .left .tx {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background-image: url("../img/creat/li2.png");
      background-size: cover;
      margin: 0 auto;
      margin-top: 0.16rem; }
    .art .bottom .left p {
      color: #4a4d55;
      line-height: 0.4rem; }
      .art .bottom .left p font {
        size: 0.22rem; }
    .art .bottom .left img {
      margin-top: 0.05rem;
      width: 0.34rem;
      height: 0.34rem; }

.fam {
  overflow: hidden;
  margin-top: 0.4rem;
  width: 100%; }
  .fam .title {
    width: 100%;
    height: 0.86rem; }
    .fam .title img {
      width: 1.58rem;
      margin-left: 0.2rem; }
  .fam .rig {
    float: left;
    margin-left: 0.24rem;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 2px;
    box-shadow: 0 0.02rem 0.2rem rgba(0, 0, 0, 0.1);
    background-image: url("../img/creat/new1.png");
    background-size: cover;
    background-position: 0 -0.4rem; }
  .fam .lef {
    float: right;
    margin-right: 0.24rem;
    width: 3.4rem;
    height: 3.4rem; }
    .fam .lef ul {
      width: 100%;
      height: 1.6rem; }
      .fam .lef ul li {
        float: left;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 2px;
        box-shadow: 0 0.02rem 0.2rem rgba(0, 0, 0, 0.1);
        background-image: url("../img/creat/new__23.png");
        background-size: cover;
        background-position: 0 -0.8rem; }
      .fam .lef ul .active {
        background-image: url("../img/creat/new__12.png");
        margin-left: 0.2rem;
        background-size: 100%;
        background-position: 0 -0.2rem; }
    .fam .lef .text {
      margin-top: 0.2rem;
      width: 100%;
      height: 1.6rem;
      border-radius: 2px;
      box-shadow: 0 0.02rem 0.2rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
      background-color: #9cc6e9; }
      .fam .lef .text h6 {
        margin-left: 0.2rem;
        margin-top: 0.1rem;
        color: #fff;
        letter-spacing: 0.05rem;
        font-size: 0.32rem;
        font-weight: normal; }
      .fam .lef .text .img {
        margin-left: 0.2rem; }
        .fam .lef .text .img img {
          width: 0.2rem;
          height: 0.2rem; }
      .fam .lef .text p {
        color: #fff;
        padding: 0 0.2rem; }
  .fam .add {
    overflow: hidden;
    float: left;
    width: 7.02rem;
    height: 1.54rem;
    margin-top: 0.2rem;
    margin-left: 0.24rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0.02rem 0.2rem rgba(0, 0, 0, 0.1);
    background-image: url("../img/creat/hcr_10.png");
    background-size: 100%;
    background-position: 0 -2.6rem; }

.hot {
  margin-top: 0.2rem;
  width: 100%;
  padding: 0 0.2rem;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 1rem; }
  .hot .title {
    width: 100%;
    height: 0.86rem; }
    .hot .title img {
      margin-top: 0.4rem;
      width: 1.58rem; }
  .hot .zuo {
    float: left; }
    .hot .zuo .row2 .top {
      background-image: url("../img/creat/new__26.png");
      background-position: 0 -0.2rem; }
  .hot .you {
    margin-right: -0.1rem;
    float: right; }
    .hot .you .row2 .top {
      background-image: url("../img/creat/new__03.png");
      background-size: cover;
      background-position: -0.6rem; }
    .hot .you .row1 .top {
      background-image: url("../img/creat/new__06.png");
      background-size: cover;
      background-position: 0; }
  .hot ul {
    margin-top: 0.2rem;
    width: 50%; }
    .hot ul .row {
      margin-top: 0.2rem;
      width: 3.4rem;
      height: 6.4rem;
      border-radius: 2px;
      box-shadow: 0 0.02rem 0.2rem rgba(0, 0, 0, 0.1); }
      .hot ul .row .top {
        width: 100%;
        height: 3.4rem;
        background-image: url("../img/creat/new__09.png");
        background-size: 100%;
        background-position: 0 -0.4rem; }
      .hot ul .row .bottom {
        padding: 0 0.16rem;
        box-sizing: border-box;
        width: 100%; }
        .hot ul .row .bottom h6 {
          color: #4a4d55;
          font-size: 0.28rem;
          margin-top: 0.1rem; }
        .hot ul .row .bottom .line1 {
          width: 2.18rem;
          height: 0.04rem; }
        .hot ul .row .bottom p {
          color: #60646e; }
        .hot ul .row .bottom .imgr {
          overflow: hidden;
          width: 50%;
          float: left;
          height: 0.5rem; }
          .hot ul .row .bottom .imgr img {
            float: left;
            margin-top: 0.1rem;
            width: 0.3rem;
            height: 0.3rem;
            line-height: 0.5rem; }
          .hot ul .row .bottom .imgr span {
            float: left;
            color: #c5c5c5;
            font-size: 0.22rem;
            line-height: 0.5rem;
            margin-left: 0.05rem; }
        .hot ul .row .bottom .imgl {
          overflow: hidden;
          width: 50%;
          float: left;
          height: 0.5rem; }
          .hot ul .row .bottom .imgl img {
            margin-left: 0.3rem;
            float: left;
            margin-top: 0.1rem;
            width: 0.3rem;
            height: 0.3rem;
            line-height: 0.5rem; }
          .hot ul .row .bottom .imgl span {
            float: left;
            color: #c5c5c5;
            font-size: 0.22rem;
            line-height: 0.5rem;
            margin-left: 0.05rem; }
        .hot ul .row .bottom .line {
          margin-top: 0.5rem;
          width: 100%;
          height: 0.04rem;
          background-color: #eee; }
        .hot ul .row .bottom .star {
          width: 100%;
          margin-top: 0.1rem; }
          .hot ul .row .bottom .star img {
            margin-left: -0.05rem;
            width: 0.32rem;
            height: 0.32rem; }
          .hot ul .row .bottom .star .hh {
            width: 0.24rem;
            height: 0.24rem; }
        .hot ul .row .bottom h5 {
          margin-top: 0.1rem;
          float: left;
          font-size: 0.24rem;
          color: #4a4d55; }
        .hot ul .row .bottom .tj {
          margin-top: 0.1rem;
          float: right;
          width: 0.52rem; }
    .hot ul .row2 {
      height: 4.4rem; }
