//头部
body{
  background-color:#fff;
  overflow:hidden;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-touch-action: none;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top:0rem;
  bottom:0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.header{
  width: 100%;
  height:0.88rem;
  position: absolute;
  top:0;
  left:0;
  background-image: url(../img/creat/cr1_03_01.png);
  display: flex;
  justify-content:space-between;
  z-index:100000;
}
.header .back{
  width:0.88rem;
  height:0.88rem;
}
.header .back img{
  width:0.88rem;
  height:0.88rem;
}
.header > .search{
  width:1.2rem;
  height:0.88rem;
}
.header > .search img{
  width:1.2rem;
  height:0.88rem;
}
.header .title img{
  width:1.92rem;
  height:0.88rem;
}
//banner
.ban{
  margin-top:0.88rem;
  width:100%;
  height:3.24rem;
  img{
    width:100%;
    height:3.24rem;
  }
}
//文艺珍藏
.art{
  width:100%;
  margin-top:0.34rem;
}
.art{
  .title{
    width:100%;
    height:0.86rem;
    img{
      width:1.58rem;
      margin-left:0.2rem
    }
  }
}
$colort:#4a4d55;
$colorp:#60646e;
$box-show:0 0.02rem 0.2rem rgba(0,0,0,0.1);
$border:2px;
$margin:0 auto;
.art{
  .pro{
    width:6.76rem;
    height:4.28rem;
    box-shadow:$box-show;
    border-radius:$border;
    margin:$margin;
    background-color:#fff;
    .top{
      width:100%;
      height:2.48rem;
      background-image:url("../img/creat/new__16.png");
      background-size:cover;
      background-position:0 -0.3rem;
      .zz{
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.16);
        img{
          width:0.72rem;
          height:0.9rem;
          float:right;
          margin-top:-0.04rem;
          margin-right:-0.02rem;
        }
      }
    }
  }
  .active{
    margin-top:0.32rem;
    .top{
      background-image:url("../img/creat/new__25.png");
      background-position:0 -1.4rem;
      background-size:cover;
    }
  }
}
.art{
  .bottom{
    width:100%;
    height:1.8rem;
    .right{
      padding:{
        left:0.2rem;
      }
      box-sizing: border-box;
      float: left;
      width:82%;
      height:100%;
      h5{
        margin-top:0.06rem;
        width:100%;
        height:0.34rem;
        span{
          color:$colort;
          font-size:0.26rem;
          line-height:0.48rem;
          margin-right:0.4rem;
        }
        img{
          width:0.2rem;
          height:0.2rem;
          margin-left:-0.05rem;
        }
      }
      img{
        width:2.18rem;
      }
      h6{
        color:$colorp;
        font-size:0.22rem;
        font-weight:normal;
        text-transform: uppercase;
      }
      p{
        width:96%;
        margin-top:0.1rem;
        color:$colorp;
        font-size:0.22rem;
        line-height:0.34rem;
      }
    }
    .left{
      float: right;
      width:18%;
      height:100%;
      text-align: center;
      .tx{
        width:0.7rem;
        height:0.7rem;
        border-radius:50%;
        background-image:url("../img/creat/li2.png");
        background-size: cover;
        margin:$margin;
        margin-top:0.16rem;
      }
      p{
        color:$colort;
        line-height:0.4rem;
        font{
          size:0.22rem;
        }
      }
      img{
        margin-top:0.05rem;
        width:0.34rem;
        height:0.34rem;
      }
    }
  }
}
//家居
.fam{
  overflow: hidden;
  margin-top:0.4rem;
  width:100%;
  .title{
    width:100%;
    height:0.86rem;
    img{
      width:1.58rem;
      margin-left:0.2rem
    }
  }
  .rig{
    float: left;
    margin-left:0.24rem;
    width:3.4rem;
    height:3.4rem;
    border-radius:$border;
    box-shadow:$box-show;
    background-image:url("../img/creat/new1.png");
    background-size:cover;
    background-position:0 -0.4rem ;
  }
  .lef{
    float: right;
    margin-right:0.24rem;
    width:3.4rem;
    height:3.4rem;
    ul{
      width:100%;
      height:1.6rem;
      li{
        float: left;
        width:1.6rem;
        height:1.6rem;
        border-radius:$border;
        box-shadow:$box-show;
        background-image:url("../img/creat/new__23.png");
        background-size:cover;
        background-position:0 -0.8rem ;
      }
      .active{
        background-image:url("../img/creat/new__12.png");
        margin-left:0.2rem;
        background-size:100%;
        background-position:0 -0.2rem ;
      }
    }
    .text{
      margin-top:0.2rem;
      width:100%;
      height:1.6rem;
      border-radius:$border;
      box-shadow:$box-show;
      overflow: hidden;
      background-color:#9cc6e9;
      h6{
        margin-left:0.2rem;
        margin-top:0.1rem;
        color:#fff;
        letter-spacing:0.05rem;
        font:{
          size:0.32rem;
          weight:normal;
        }
      }
      .img{
        margin-left:0.2rem;
        img{
          width:0.2rem;
          height:0.2rem;
        }
      }
      p{
        color:#fff;
        padding:0 0.2rem;
      }
    }
  }
  .add{
    overflow: hidden;;
    float: left;
    width:7.02rem;
    height:1.54rem;
    margin-top:0.2rem;
    margin-left:0.24rem;
    padding:0 0.24rem;
    box-sizing: border-box;
    border-radius:$border;
    box-shadow:$box-show;
    background-image: url("../img/creat/hcr_10.png");
    background-size:100%;
    background-position:0 -2.6rem;
  }
}
//爆款单品
.hot {
  margin-top: 0.2rem;
  width: 100%;
  padding:0 0.2rem;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom:0.4rem;
  .title {
    width: 100%;
    height: 0.86rem;
    img {
      margin-top: 0.4rem;
      width: 1.58rem;
    }
  }
  .zuo{
    float:left;
    .row2{
      .top{
        background-image:url("../img/creat/new__26.png");
        background-position:0 -0.2rem;
      }
    }
  }
  .you{
    margin-right:-0.1rem;
    float:right;
    .row2{
      .top{
        background-image:url("../img/creat/new__03.png");
        background-size: cover;
        background-position:-0.6rem;
      }
    }
    .row1{
      .top{
        background-image:url("../img/creat/new__06.png");
        background-size: cover;
        background-position:0;
      }
    }
  }
  ul{
    margin-top:0.2rem;
    width:50%;
    .row{
      margin-top:0.2rem;
      width:3.4rem;
      height:6.4rem;
      border-radius:$border;
      box-shadow:$box-show;
      .top{
        width:100%;
        height:3.4rem;
        background-image:url("../img/creat/new__09.png");
        background-size:100%;
        background-position:0 -0.4rem;
      }
      .bottom{
        padding:0 0.16rem;
        box-sizing: border-box;
        width:100%;
          h6{
            color:$colort;
            font-size:0.28rem;
            margin-top:0.1rem;
          }
        .line1{
          width:2.18rem;
          height:0.04rem;
        }
        p{
          color: $colorp;
        }
        .imgr{
          overflow: hidden;
          width:50%;
          float:left;
          height:0.5rem;
          img{
            float: left;
            margin-top:0.1rem;
            width:0.3rem;
            height:0.3rem;
            line-height:0.5rem;
          }
          span{
            float: left;
            color:#c5c5c5;
            font-size:0.22rem;
            line-height:0.5rem;
            margin-left:0.05rem;
          }
        }
        .imgl{
          overflow: hidden;
          width:50%;
          float:left;
          height:0.5rem;
          img{
            margin-left:0.3rem;
            float: left;
            margin-top:0.1rem;
            width:0.3rem;
            height:0.3rem;
            line-height:0.5rem;
          }
          span{
            float: left;
            color:#c5c5c5;
            font-size:0.22rem;
            line-height:0.5rem;
            margin-left:0.05rem;
          }
        }
        .line{
          margin-top:0.5rem;
          width:100%;
          height:0.04rem;
          background-color:#eee;
        }
        .star{
          width:100%;
          margin-top:0.1rem;
          img{
            margin-left:-0.05rem;
            width:0.32rem;
            height:0.32rem;
          }
          .hh{
            width:0.24rem;
            height:0.24rem;
          }
        }
        h5{
          margin-top:0.1rem;
          float: left;
          font-size:0.24rem;
          color:$colort;
        }
        .tj{
          margin-top:0.1rem;
          float: right;
          width:0.52rem;
        }
      }
    }
    .row2{
      height:4.4rem;
    }
  }
}