div.bg{
    width:100%;
    height:13.34rem;
    /*position: relative;*/
}
/*.bg  .swiper-container{*/
/*}*/
/*.bg  .swiper-container .swiper-wrapper{*/
    /*height:100%;*/
/*}*/
.bg .swiper-container .swiper-wrapper .swiper-slide:first-child{
    background-image:url("../img/bg_01.png");
    background-size: cover;
    width:7.5rem;
    height:13.34rem;
}
.bg .swiper-container .swiper-wrapper .swiper-slide:nth-child(2){
    width:7.5rem;
    height:13.34rem;
    background-image:url("../img/bg_02.png");
    background-size: cover;
}
.bg .swiper-container .swiper-wrapper .swiper-slide:nth-child(3){
    background-size: cover;
    width:7.5rem;
    height:13.34rem;
    background-image:url("../img/bg_03.png");
}
.bg .swiper-container .swiper-wrapper .swiper-slide img{
    width:7.5rem;
    height:13.34rem;
    opacity:1;
    transition:opacity 0.3s ease-out;
}
.bg .swiper-container .swiper-wrapper .swiper-slide .active{
    opacity:1;
}

