div.bg{
    width:100%;
    height:13.34rem;
    /*position: relative;*/
}
.bg  #wrapper{
    /*width:7.5rem;*/
    height:100%;
}
.bg  #wrapper #scroller{
    width:22.5rem;
}
.bg  #wrapper #scroller .bng{
    width:22.5rem;
    height:13.34rem;
    position: absolute;
    top:0;
    right:0;
    z-index:12;
    background-image: url("../img/bg_02.png");
    background-size: cover;
}
.bg .wrap{
    position: absolute;
    top:0;
    left:0;
    z-index:20;
    width:7.5rem;
    height:13.34rem;
    /*overflow: hidden;*/
}
.bg .wrap .slide{
    width:22.5rem;
    height:13.34rem;
    opacity:0;
}
.bg .wrap .active{
    opacity:1;
}
.bg .wrap .slide img{
    width:7.5rem;
    height:13.34rem;
}