@import url("common.css");

body{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.hint{
	width: 5.34rem;
	height: 2.79rem;
	background: #fff;
	border-radius: 0.05rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2.67rem;
	margin-top: -1.39rem;
}